<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}

			<main class="list">
				<div class="site-description">
					{{- if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | .Page.RenderString }}</p>
					{{- end -}}
				</div>

				<div class="home-content">
					<p>Ciao! Siamo <a href="https://www.giadataribelli.com/">Giada</a> ed <a href="https://github.com/emiliopalmerini">Emilio</a>, i due creators dietro a Due Draghi al Microfono, Storie di Vapore e Due Draghi SideCast.
					Il nostro obbiettivo è raccontare a tutti quanto siano belli i GDR e quante avventure si possano vivere con dei dadi, un tavolo e qualche amico.</p>

					<p>Al momento abbiamo 3 podcast:</p>
					<p>Due Draghi al Microfono è il podcast perfetto per avere dritte, approfondimenti e review dei vostri giochi di ruolo preferiti.</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/1xUd7hMLVjCUcvDDtqyP5q?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


					<p>Storie di Vapore è una storia emozionante ambientata in un mondo fantastico con mostri e dirigibili. La raccontiamo usando D&D e con l'aiuto della fantastica <a href="https://www.instagram.com/viovagram/">Viola Sanguinetti</a>.</p>
					<iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/5tExscuC59ILdVBHxDF2kz?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

					<p>Due Draghi Sidecast è una raccolta di storie brevi di generi diversi. Ogni storia usa un sistema di gioco unico per raccontare nuovi personaggi e avventure.</p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4SLm7ohjCNHUXraFwPTJSv?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

					<p>Puoi sostenerci su <a href="patreon.com/DueDraghiPlus">Patreon</a>
					<p>Oppure regalaci un caffè su Ko-Fi</p>
					<iframe id='kofiframe' src='https://ko-fi.com/duedraghicoffee/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='712' title='duedraghicoffee'></iframe>
				</div>

				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
					<time>{{ dateFormat ":date_medium" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
					<br>{{ partial "pagedescription.html" . }}
					<a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
				</section>
				{{ end }}
				{{ partial "paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>

	</body>
</html>

